.custom-btn {
    padding: 14px 12px;
}

.main-btn {
    padding-left: 0px;
}

.btn-link {
    color: #000000;
}

.group-style {
    height: 34px;
}

.card-img {
    width: 50px;
}

.default-input {
    width: 100% !important;
}

.default-min-input {
    width: 15% !important;
}

.th-custom{
    text-align: center;
}

.rate-input {
    width: 35% !important;
}